.contacts__info {
  display: flex;
  justify-content: space-between;
}

.contacts__wrapper {
  padding-top: 28px;
  padding-bottom: 28px;

  &--form {
    background-color: $programmes-background;
  }
}

.contacts__offer {
  max-width: 124px;
  margin: 0;

  @include font(16px, 18px);
  color: $map-offer-text-color;
  text-transform: uppercase;
}

.contacts__address {
  max-width: 135px;
  margin: 0;

  font-family: "Arial", "Helvetica", sans-serif;

  @include font(14px, 20px);
  color: $features-text-color;
}

.contacts__map {
  display: block;
  border: none;
  width: 100%;
  max-width: 100%;
  min-height: 363px;
}

@media (min-width: $tablet-width) {
  .contacts__wrapper {
    padding-top: 66px;
    padding-bottom: 51px;
  }

  .contacts__info {
    padding: 0 41px;
  }

  .contacts__city {
    display: block;
    padding-top: 20px;
  }

  .contacts__offer {
    max-width: 160px;

    @include font(20px, 21px);
  }

  .contacts__address {
    max-width: 156px;

    @include font(16px, 20px);
    text-align: right;
  }

  .contacts__map {
    height: 400px;
  }
}

@media (min-width: $desktop-width) {
  .contacts__wrapper {
    position: relative;
    padding: 0;
  }

  .contacts__info {
    padding: 65px 7.049% 57px 6.23%;
    width: 570px;
    position: absolute;
    top: 95px;
    background-color: $white;
  }

  .contacts__address {
    max-width: 155px;

    text-align: left;
  }

  .contacts__offer {
    max-width: 163px;
  }
}
