.contacts__info {
  display: flex;
}

.contacts__offer {
  @include font(16px, 18px);
  color: $map-offer-text-color;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    @include font(20px, 21px);
  }
}

.contacts__address {
  font-family: "Arial", "Helvetica", sans-serif;

  @include font(14px, 20px);
  color: $features-text-color;

  @media (min-width: $tablet-width) {
    @include font(16px, 20px);
  }
}
