.copyright {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  font-family: "Arial", "Helvetica", sans-serif;

  @include font(16px, 18px);
  color: $features-text-color;
}


.copyright__link {
  @include font(16px, 16px);
  color: $features-text-color;

  &:hover,
  &:focus + a > .copyright__icon {
    fill: $button-background-color;
  }

  &:active + a > .copyright__icon {
    fill: $button-background-color;
    opacity: 0.3;
  }
}

.copyright__link:active,
.copyright__icon-link:active .copyright__icon {
  opacity: 0.3;
}

.copyright__icon-link {
  fill: #666666;

  &:focus,
  &:hover {
    .copyright__icon {
      fill: $button-background-color;
    }
  }
}

@media (min-width: $tablet-width) {
  .copyright {
    width: 165px;
  }
}
