.feature {
  position: relative;

  min-height: 60px;

  padding-left: 80px;

  &::before {
    content: "";

    position: absolute;
    left: 0;
    top: 0;

    display: block;
    width: 60px;
    height: 60px;

    background-color: $button-background-color;
    background-repeat: no-repeat;
    background-position: center;
  }

  &--leaf::before {
    background-image: url("../img/icon-leaf.svg");
    background-size: 30px 32px;
  }

  &--boil::before {
    background-image: url("../img/icon-boil.svg");
    background-size: 29px 31px;
  }

  &--fork::before {
    background-image: url("../img/icon-fork.svg");
    background-size: 25px 30px;
  }

  &--clock::before {
    background-image: url("../img/icon-clock.svg");
    background-size: 32px 33px;
  }
}

.feature__description {
  margin: 0;

  font-family: "Arial", "Helvetica", sans-serif;

  @include font(14px, 18px);
  color: $features-text-color;

  @media (min-width: $tablet-width) {
    @include font(16px, 24px);
  }
}

@media (min-width: $tablet-width) {
  .feature {
    position: relative;

    width: 245px;
    padding: 112px 0 50px 0;

    @include font(16px, 24px);

    &::before {
      top: 0;

      width: 80px;
      height: 80px;
    }

    &::after {
      counter-increment: number;
      content: counter(number);

      position: absolute;
      top: -40px;
      right: 0;
      z-index: -1;

      @include font(281px, 281px);
      color: $programmes-background;
    }

    &--leaf::after {
      right: 15px;
    }
  }
}

@media (min-width: $desktop-width) {
  .feature {
    padding-right: 0;

    &::after {
      right: 5%;
    }

    &--boil::after,
    &--fork::after,
    &--clock::after {
      right: -5px;
    }
  }
}
