.features {
  margin-bottom: 42px;
}

.features__item {
  margin-bottom: 20px;
  padding-top: 4px;

  &:nth-child(4) {
    margin-bottom: 0;
  }
}

.features__list {
  @include list-reset();

  counter-reset: number;
}

.features__title {
  @include list-reset();
  @include font(36px, 40px);

  margin-bottom: 38px;
}

@media (min-width: $tablet-width) {
  .features {
    padding: 0;
    padding-top: 18px;
    margin-bottom: 50px;
  }

  .features__item {
    margin-bottom: 84px;

    &:nth-child(3),
    &:nth-child(4) {
      margin-bottom: 0;
    }

    &:nth-child(2n-1) {
      margin-right: 138px;
    }
  }

  .features__list {
    display: flex;
    flex-wrap: wrap;
  }

  .features__title {
    margin-bottom: 70px;

    @include font(60px, 60px);
  }
}

@media (min-width: $desktop-width) {
  .features {
    padding-top: 45px;
    margin-bottom: 0;
  }

  .features__item {
    margin-bottom: 0;
    margin-right: 80px;

    &:nth-child(2n-1) {
      margin-right: 80px;
    }

    &:nth-child(4) {
      margin-right: 0;
    }
  }
}
