.features__list {
  @include list-reset();

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.features__title {
  @include font(36px, 40px);

  @media (min-width: $tablet-width) {
    @include font(60px, 60px);
  }
}
