.programm-form {
  position: relative;

  &::after {
    content: "";

    position: absolute;
    top: 185px;

    display: block;
    width: 100%;
    height: 1px;
    background-color: $fieldset-border;
  }

  &::before {
    content: "";

    position: absolute;
    top: 342px;

    display: block;
    width: 100%;
    height: 1px;
    background-color: $fieldset-border;
  }
}

.programm-form__group {
  border: 0 none;
  position: relative;
}

.programm-form__info {
  .programm-form__group {
    &:first-child {
      margin-bottom: 46px;
    }

    &:last-child {
      margin-bottom: 45px;
      padding-top: 9px;
    }
  }
}

.programm-form__group--contacts {
  padding-top: 5px;
  margin-bottom: 25px;
}

.programm-form__group--comments {
  margin-bottom: 23px;

  .programm-form__group-name {
    margin-bottom: 39px;
  }
}

.programm-form__group--additional {
  margin-bottom: 38px;

  .programm-form__group-name {
    margin-bottom: 40px;
  }
}

.programm-form__group-name {
  position: relative;

  margin: 0;
  margin-bottom: 40px;
  padding: 0 calc((100vw - 320px) / 2);

  @include font(24px, 24px);
  font-weight: 400;
  background-image: linear-gradient(to bottom, transparent 0, transparent 15px, $button-background-color 15px, $button-background-color 17px, transparent 17px, transparent 100%);

  span {
    display: inline-block;
    padding: 0 20px;
    background-color: $white;
  }

  text-transform: none;
}

.programm-form__option-group {
  position: relative;

  margin-bottom: 25px;

  &:last-child {
    margin-bottom: 0;
  }
}

.programm-form__label-input {
  position: relative;

  display: flex;
  align-items: baseline;
  margin-bottom: 14px;

  @include font(16px, 18px);
  color: $features-text-color;
  text-transform: uppercase;

  &:last-child {
    margin-bottom: 0;
  }
}

.programm-form__label-option {
  padding-left: 45px;

  @include font(16px, 18px);
  color: $product-card-text-color;
  text-transform: uppercase;

  &::before {
    content: "";

    position: absolute;
    top: -6px;
    left: 0;

    display: block;
    width: 30px;
    height: 30px;
    border: 1px solid $input-border-hover;

    background-repeat: no-repeat;
  }

  &:hover::before,
  &:focus::before {
    border: 1px solid $option-hover;
  }

  &--radio::before {
    border-radius: 50%;
  }
}

.programm-form__icon {
  position: absolute;


  &--mail {
    top: 15px;
    right: 15px;
    stroke: $product-card-text-color;
  }

  &--phone {
    top: 13px;
    right: 14px;
    fill: $product-card-text-color;
  }
}

.programm-form__input:focus + .programm-form__icon--phone {
  fill: $button-background-color;
}

.programm-form__input:focus + .programm-form__icon--mail {
  stroke: $button-background-color;
}

.programm-form__input:invalid + .programm-form__icon--phone {
  fill: $input-error;
}

.programm-form__input:invalid + .programm-form__icon--mail {
  stroke: $input-error;
}

.programm-form__input-option:checked + .programm-form__label-option--radio::before {
  background-image: url("../img/radio.svg");
  background-size: 15px 15px;
  background-position: 7px 7px;
}

.programm-form__input-option:disabled + .programm-form__label-option--checkbox,
.programm-form__input-option:disabled + .programm-form__label-option--radio {
  opacity: 0.3;
}

.programm-form__input-option:checked + .programm-form__label-option--checkbox::before {
  background-image: url("../img/checkbox.svg");
  background-size: 22px 17px;
  background-position: center;
}

.programm-form__label-name {
  flex-shrink: 0;
  margin-right: 10px;
}

.programm-form__input {
  flex-grow: 1;
  flex-shrink: 1;
}

.programm-form__textarea,
.programm-form__input {

  padding: 12px 0 12px 15px;

  border: 1px solid $input-border;

  font-family: "Oswald", "Arial", sans-serif;

  @include font(16px, 18px);
  color: $features-text-color;
  text-transform: uppercase;

  &:hover {
    border: 1px solid $input-border-hover;
  }

  &::placeholder {
    color: $features-text-color;
    opacity:  1;
  }

  &:invalid {
    border: 2px solid $input-error;
    padding: 11px 0 11px 14px;
    outline: none;
  }

  &:valid:focus {
    border: 2px solid $product-card-text-color;
    padding: 11px 0 11px 14px;
    outline: none;
  }
}

.programm-form__textarea {
  width: 100%;
  min-height: 150px;
  padding: 8px 0 10px 14px;

  resize: none;

  &:valid:focus {
    padding: 7px 0 10px 13px;
    outline: none;
  }
}

.programm-form__btn {
  width: 100%;
  margin-bottom: 24px;
}

.programm-form__note {
  display: block;

  font-family: "Arial", "Helvetica", sans-serif;
  text-align: center;

  @include font(14px, 16px);
}

@media (min-width: $tablet-width) {
  .programm-form {
    &::after,
    &::before {
      display: none;
    }
  }

  .programm-form__info {
    padding: 0 70px;

    &::before,
    &::after {
      display: none;
    }

    .programm-form__group {
      &:first-child {
        margin-bottom: 72px;
      }

      &:last-child {
        padding: 30px 0;
        margin-bottom: 70px;
      }
    }
  }

  .programm-form__group {
    &--programmes {
      border: 1px solid $fieldset-border;

      .programm-form__option-group {
        margin-bottom: 35px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  .programm-form__group-br--contacts {
    display: none;
  }

  .programm-form__group-wrapper {
    padding: 0 70px;
  }

  .programm-form__group-name {
    margin-bottom: 76px;

    padding: 0 calc((100vw - 708px) / 2);
    background-image: linear-gradient(to bottom, transparent 0, transparent 23px, $button-background-color 23px, $button-background-color 25px, transparent 25px, transparent 100%);

    span {
      padding: 0 36px;
    }

    @include font(36px, 36px);
  }

  .programm-form__group--additional {
    margin-bottom: 41px;

    .programm-form__group-wrapper {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    .programm-form__group-name {
      margin-bottom: 68px;
    }

    .programm-form__option-group {
      &:nth-child(1) {
        margin-bottom: 50px;
      }

      &:nth-child(2n) {
        width: 45.5%;
      }

      &:nth-child(2n-1) {
        width: 54.5%;
      }
    }
  }

  .programm-form__group--contacts {
    margin-bottom: 63px;
  }

  .programm-form__group--comments {
    margin-bottom: 62px;

    .programm-form__group-name {
      margin-bottom: 78px;
    }
  }

  .programm-form__icon {
    &--mail {
      top: 20px;
      right: 14px;
    }

    &--phone {
      top: 15px;
      right: 14px;
    }
  }

  .programm-form__textarea {
    min-height: 174px;
  }

  .programm-form__label-name {
    margin-right: 15px;
  }

  .programm-form__textarea,
  .programm-form__input {
    padding: 10px 0 11px 22px;

    @include font(20px, 30px);

    &:invalid {
      padding: 9px 0 10px 21px;
      outline: none;
    }

    &:valid:focus {
      padding: 9px 0 10px 21px;
      outline: none;
    }
  }

  .programm-form__textarea {
    padding: 8px 0 11px 17px;

    &:valid:focus {
      padding: 7px 0 10px 16px;
      outline: none;
    }
  }

  .programm-form__label-input {
    margin-bottom: 20px;

    @include font(20px, 30px);
  }

  .programm-form__label-option {
    @include font(20px, 20px);

    &--radio {
      padding-left: 88px;

      &::before {
        top: -10px;
        left: 28px;
        width: 40px;
        height: 40px;
      }
    }

    &--checkbox {
      padding-left: 60px;

      &::before {
        top: -10px;
        left: 0;
        width: 40px;
        height: 40px;
      }
    }
  }

  .programm-form__input-option:checked + .programm-form__label-option--radio::before {
    background-size: 19px 19px;
    background-position: 10px 10px;
  }

  .programm-form__submit {
    display: flex;
    padding: 0 70px;
  }

  .programm-form__btn {
    width: 282px;
    margin-right: 60px;
    margin-bottom: 0;
    padding-top: 16px;
    padding-bottom: 16px;
    align-self: center;

    @include font(20px, 20px);
  }

  .programm-form__note {
    align-self: center;

    @include font(16px, 16px);
    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .programm-form__info {
    display: flex;
    justify-content: space-between;
    padding: 0;

    .programm-form__group {
      &:first-child,
      &:last-child {
        width: 569px;
        margin-bottom: 50px;
      }
    }
  }

  .programm-form__group-name {
    margin-top: 15px;
    padding: 0 calc((100vw - 1300px) / 2);
  }

  .programm-form__group--contacts {
    padding-top: 0;
    margin-bottom: 32px;

    .programm-form__group-wrapper {
      display: flex;
      justify-content: space-between;
    }

    .programm-form__label-input {
      width: 569px;
    }
  }

  .programm-form__group--comments {
    margin-bottom: 49px;
  }

  .programm-form__group--additional {
    margin-bottom: 20px;

    @include font(36px, 36px);

    .programm-form__option-group:nth-child(2n),
    .programm-form__option-group:nth-child(2n-1) {
      width: 221px;
    }

    .programm-form__group-name {
      margin-bottom: 51px;
    }

    .programm-form__group-wrapper {
      justify-content: flex-start;
    }

    .programm-form__option-group {
      margin-right: 104px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .programm-form__group-wrapper {
    padding: 0;
  }


  .programm-form__label-option {
    &--checkbox {
      &::before {
        top: 5px;
      }
    }
  }

  .programm-form__submit {
    padding: 0;
  }

  .programm-form__btn {
    width: 568px;
    margin-right: 81px;
  }
}
