.programm {
  background-color: $programmes-background;

  @media (min-width: $desktop-width) {
    width: 45%;
  }
}

.programm__title {
  @include font(24px, 37px);

  @media (min-width: $tablet-width) {
    @include font(36px, 36px);
  }
}

.programm__description {
  font-family: "Arial", "Helvetica", sans-serif;

  @include font(14px, 18px);
  color: $features-text-color;

  @media (min-width: $tablet-width) {
    @include font(16px, 24px);
  }
}

.programm__link {
  @include font(16px, 16px);
  color: $black;
  text-transform: uppercase;
}
