.programmes {
  margin-bottom: 27px;
  padding-top: 22px;
}

.programmes__list {
  @include list-reset();
}

@media (min-width: $tablet-width) {
  .programmes {
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .programmes {
    padding-top: 82px;
  }

  .programmes__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
