.promo {
  position: relative;

  padding: 27px 6.25% 0;
  margin-bottom: 22px;

  color: $white;

  &::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    display: block;
    height: 305px;
    width: 100%;

    background-color: $mobile-promo-background;
    background-image: url("../../img/index-background-mobile.jpg");
    background-position: 0 center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.promo__wrapper {
  position: relative;
  z-index: 2;
}

.promo__title {
  margin: 0;
  margin-bottom: 25px;

  @include font(36px, 36px);
  text-align: center;
}

.promo__slogan {
  margin: 0;
  margin-bottom: 29px;

  text-align: center;
  text-transform: uppercase;
}

.promo__image {
  display: block;
  width: 280px;
  height: 270px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .promo {
    padding: 0;

    color: $black;

    &::before {
      display: none;
    }
  }

  .promo__container {
    display: flex;
    flex-direction: column;
    padding: 0 29.2% 200px 12.3%;
  }

  .promo__title {
    margin-bottom: 41px;

    @include font(60px, 60px);
    text-align: left;
  }

  .promo__slogan {
    margin-bottom: 49px;

    @include font(20px, 20px);
    text-align: left;
  }

  .promo__image {
    position: absolute;
    bottom: 0;
    right: calc(50% - 200px);
  }

  .promo__link {
    align-self: flex-start;
    width: 56.986%;
    padding: 16px 0;

    @include font(20px, 20px);
  }
}

@media (min-width: $desktop-width) {
  .promo {
    margin-bottom: 82px;

    background-image: linear-gradient(to right, transparent 50%, #65a93a 50%);

    &::before {
      content: "";
      display: block;
      background-image: url("../img/index-background-desktop.jpg");

      width: 50%;
      max-width: 720px;
      min-height: 696px;
      height: auto;
      position: absolute;
      top: auto;
      bottom: 0;
      left: auto;
      right: 0;
      z-index: 1;
    }
  }

  .promo__container {
    padding: 83px 58.12% 188px 6.558%;
  }
}
