.showall-card {
  &__text {
    @include font(12px, 16px);
    color: $features-text-color;
  }

  &__text--bold {
    @include font(16px, 20px);
    color: $product-card-text-color;
    text-transform: uppercase;
  }
}
