.slider__list {
  @include list-reset();
  margin-bottom: 32px;
  overflow-x: hidden;
}

.slider__controls {
  display: flex;
  align-items: center;

  text-align: center;
}

.slider__control-label {
  @include font(16px, 20px);
  font-family: "Oswald", "Arial", sans-serif;

  color: $map-offer-text-color;

  text-transform: uppercase;
}

.slider__item {
  min-height: 232px;
}

.slider__item--close {
  display: none;
}

.slider__item--was {
  width: 320px;
  margin: 0 auto;

  background-image: url("../img/cat-fat-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: -19px 0;
}

@media (min-resolution: $retina-dpi),
  (min-resolution: $retina-dppx) {
  .slider__item--was {
    background-image: url("../img/cat-fat-mobile@2x.png");
    background-size: 320px 240px;
  }
}

.was,
.become {
  padding: 0;

  @include font(16px, 20px);
  font-family: "Oswald", "Arial", sans-serif;

  color: $map-offer-text-color;
  text-transform: uppercase;

  background-color: transparent;
  border: 0 none;
}

.was {
  margin-left: auto;
  padding-left: 5px;
}

.become {
  margin-right: auto;
}

.slider__scale {
  position: relative;

  width: 84px;
  height: 14px;
  margin: 0 18px;

  background-color: $white;
  border: 1px solid $input-border-hover;
  border-radius: 6px;
}

.slider__scale::before {
  content: "";

  position: absolute;
  top: 3px;
  left: 6px;

  display: block;
  width: 35px;
  height: 6px;

  background-color: $button-background-color;
  border-radius: 6px;
}

@media (min-width: $tablet-width) {
  .slider {
    padding-bottom: 68px;
  }

  .slider__wrapper {
    padding-bottom: 68px;
  }

  .slider__list {
    display: flex;
    align-items: flex-end;
    margin-bottom: 19px;
  }

  .was {
    margin-left: auto;
    padding-left: 0;
  }

  .slider__item--was {
    min-width: 354px;
    height: 517px;
    margin-left: auto;
    margin-right: 0;

    background-image: url("../img/cat-fat-tablet@1x.png");
    background-position: center left 10px;
  }

  .slider__item--become {
    position: static;

    min-width: 354px;
    height: auto;
    min-height: 517px;
    margin: 0;
    margin-right: auto;
    border: 0;
    padding: 0;

    white-space: normal;
    clip-path: none;
    clip: auto;

    background-image: url("../img/cat-skinny-tablet@1x.png");
    background-position: center right 60px;
    background-repeat: no-repeat;
  }

  @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
    .slider__item--was {
      background-image: url("../img/cat-fat-tablet@2x.png");
      background-size: 690px 517px;
    }

    .slider__item--become {
      background-image: url("../img/cat-skinny-tablet@2x.png");
    }
  }

  .was,
  .become {
    padding-bottom: 6px;

    @include font(20px, 20px);

    border-bottom: 1px dotted rgba($map-offer-text-color, 0.275);
  }

  .was:focus,
  .become:focus,
  .was:hover,
  .become:hover {
    border-bottom: 1px solid rgba($map-offer-text-color, 0.4);
  }

  .was:active,
  .become:active {
    border-bottom: 0 none;
    padding-bottom: 7px;
  }

  .slider__scale {
    position: relative;

    width: 428px;
    height: 6px;
    margin-left: 24px;
    margin-right: 21px;

    border: 0 none;
    border-radius: 3px;

    background-color: $scale-color;
  }

  .slider__scale::before {
    display: none;
  }

  .slider__scale-marker {
    position: absolute;
    top: -14px;
    left: calc(50% - 17px);

    width: 34px;
    height: 34px;

    background-image: radial-gradient(circle, $button-background-color 18%, white 20%);

    border: 1px solid $input-border-hover;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
  }

  .slider__scale-marker:focus,
  .slider__scale-marker:hover {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
  }

  .slider__scale-marker:active {
    border: 2px solid $button-background-color;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.3);
  }
}

@media (min-width: $desktop-width) {
  .slider {
    position: relative;

    width: 650px;
    padding-top: 367px;
  }

  .slider__list {
    position: absolute;
    top: -190px;
    left: 0;
    width: auto;
  }

  .slider__scale {
    width: 428px;
  }

  .become {
    margin-right: 0;
  }

  .slider__item--was {
    width: 365px;
    background-position: center left -3px;
  }

  .slider__item--become {
    min-width: 271px;
    background-position: center right -3px;
  }
}
