$black: #000000;
$white: #ffffff;
$mobile-promo-background:rgba(104, 183, 56, 0.85);
$programmes-background: #f2f2f2;
$example-background: #eaeaea;
$features-text-color: #444444;
$map-offer-text-color: #111111;
$button-background-color: #68b738;
$product-card-text-color: #222222;
$separate-line-color: #e6e6e6;

$tablet-width: 768px;
$desktop-width: 1300px;
