$black: #000000;
$white: #ffffff;
$mobile-promo-background:rgba(104, 183, 56, 0.85);
$programmes-background: #f2f2f2;
$example-background: #eaeaea;
$features-text-color: #444444;
$map-offer-text-color: #111111;
$button-background-color: #68b738;
$product-card-text-color: #222222;
$separate-line-color: #e6e6e6;
$input-border: #e7e7e7;
$input-border-hover: #cdcdcd;
$option-hover: #bababa;
$fieldset-border: #d9d9d9;
$example-caption: #c4c4c4;
$scale-color: #dcdcdc;

$tablet-width: 768px;
$desktop-width: 1300px;
$max-mobile-width: 767px;

$retina-dppx: 1.5dppx;
$retina-dpi: 144dpi;
