$black: #000000;
$white: #FFFFFF;
$mobile-promo-background:rgba(104, 183, 56, 0.85);;
$programmes-background: #F2F2F2;
$example-background: #EAEAEA;
$features-text-color: #444444;
$map-offer-text-color: #111111;
$button-background-color: #68B738;
